
########################################
.classpath
.project
.settings/
target/
*.iml
*.idea/
*.vscode
########################################
#### OSX/Finder:
########################################
.DS_Store
*.DS_Store
########################################

